.navbar{
    position: fixed;
    background-color: #3282B8;
    height: 100vh;
    display: flex;

    &__title{
        color: white;
        background-color: #0F4C75;
        padding: 10px 80px 20px 120px;
        margin: 0;
    }

    &__container{
        flex: 9;
        display: flex;
        flex-direction: row;
        width: max-content;
        &__sidebar{
            flex: 1;
            height: 100%;
            background-color: #0F4C75;
            margin-top: 0;
            color:white;

            &__item{
                padding: 16px 20px 24px 20px;
                position: relative;
                text-align: center;
                
                &--selected{
                    background-color: #356d92;
                }
                &__description{
                    font-size: 12px;
                    color: white;
                    position: absolute;
                    left: 50%;
                    bottom: 8px;
                    transform:translateX(-50%);
                }

                &:hover{
                    cursor:pointer;
                    box-shadow: 0px 0px 6px 2px rgb(255, 255, 255, 0.1);
                }
            }
        }
    }


}